<% title('Welcome to Quartermaster Command Services') %>

<div class='row'>
  <div class='col'>
    Welcome to Quartermaster Command, the premier destination for BattleTech enthusiasts seeking a strategic edge. Here, you'll find an expansive equipment database, thoughtfully indexed and fully searchable, enabling you to quickly locate the gear your campaign requires. Our unit details editor offers unparalleled customization, allowing you to tweak your forces to perfection. Ready for battle? Our "unit order" export functionality ensures seamless integration with MegaMek's MUL, streamlining your preparation and letting you focus on victory. Quartermaster Command: your ally in the art of war.
  </div>
  <div class='col-3'>
    <%= image_tag 'qcs.png', class: 'img-fluid' %>
  </div>
</div>
